<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Iniciar Sesion</title>
  <link href="/Estilos/bootstrap.min.css" rel="stylesheet">
  <link href="/Estilos/cssIniciarSesion.css" rel="stylesheet">
  <link href="/Estilos/jquery-ui.css" rel="stylesheet">
  <script type="text/javascript" src="/Scripts/jquery-ui.js"></script>
  <script type="text/javascript" src="/Scripts/jquery-1.9.1.js"></script>
  <style type="text/css">
    .Spacioador {
      position: relative;
      width: auto;
      height: 20px;
      z-index: 1;
    }
  </style>
</head>
<body>
<form action="/login" method="post" class="form-signin" role="form">
  <div class="form-signin-heading">Acceso</div>
  <input type="text" class="form-control" id="nombresSesisonUsu" name="username" placeholder="Nombre de Usuario" required autofocus>
  <div class="Spacioador"></div>
  <input type="password" class="form-control" id="pswSesesionUs" name="password" placeholder="Contraseña" required>
  <label class="checkbox">
    <input type="checkbox" value="Recordando" name="Recordar"> Recordar acceso
  </label>
  <button class="btn btn-lg btn-primary btn-block" type="submit" name="btnIngresar">Login</button>
  <div class="Spacioador"></div>
</form>
<p align="center">Para poder reservar libros necesitas registrarte <a href="/registro/usuario">Regístrate</a></p>
</body>
</html>
